<h1>Residents Homepage</h1>

<p><%= link_to 'Create Resident', new_resident_path %><br>
<%= link_to 'Edit Resident', new_notice_path %><br>
<%= link_to 'Delete Resident', new_notice_path %><br>
<%= link_to 'Show All Residents', 'ParksHomepage' %><br>
