<h1>HAVEN LAKE ESTATES</h1>
<h2> Telephone: (305) 624-2712 Community Manager <br>
  (305) 621-0210 Fax</h2>
<h2> Address: 11201 S.W. 55th Street, Box 1 <br>
  Miramar, Florida 33025 </h2>

  <h3>To: (Resident Information)</h3>

  <h3>Notice of Rule Violations/Haven Lake Estates and Violation of Chapter 723.061  </h3>
  <h3> Dear: (Residenets Name)</h3>
  <h3>You are in violation of the Rules & Regulations of Haven Lake Estates with respect to your tenancy, to wit:</h3>
