<h1> Homepage</h1>
<p><%= link_to 'View Residents Page', 'ResidentsHomepage' %><br>
<%= link_to 'View Notices Page', 'NoticesHomepage' %><br>
<%= link_to 'View Parks Page', 'ParksHomepage' %><br>
<%= link_to 'View Rules Page', 'RulesHomepage' %><br>
