<h1>Notices Homepage</h1>

<p><%= link_to 'Notices Park', new_resident_path %><br>
<%= link_to 'Edit Notice', new_notice_path %><br>
<%= link_to 'Delete Notice', new_notice_path %><br>
<%= link_to 'Show All Notices', 'ParksHomepage' %><br>
