<h1>Parks Homepage</h1>

<p><%= link_to 'Create Park', new_resident_path %><br>
<%= link_to 'Edit Park', new_notice_path %><br>
<%= link_to 'Delete Park', new_notice_path %><br>
<%= link_to 'Show All Parks', 'ParksHomepage' %><br>
