<h1>Rules Homepage</h1>

<p><%= link_to 'Create Rule', new_resident_path %><br>
<%= link_to 'Edit Rule', new_notice_path %><br>
<%= link_to 'Delete Rule', new_notice_path %><br>
<%= link_to 'Show All Rule', 'ParksHomepage' %><br>
